<nav class="navbar d-flex justify-content-end">
    <h2 id="nav-text" class="text-center">IntraProyect</h2>
    <!-- Dropdown button -->
    <div id="dropdown" class="btn-group dropleft">
        <button type="button" class="btn btn-default shadow-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Mario Peralta Westreicher
    </button>
        <!-- Dropdown card -->
        <div class="card" style="width: 18rem;" class="dropdown-menu">
            <div class="card-body text-center">
                <img src="../../../assets/img/usuario.svg" class="img-fluid" height="40" width="40" alt="">
                <p>Mario Peralta Westreicher <br> i201711909@cibertec.edu.pe</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-success">Perfil</button>
                    <button type="button" class="btn btn-success">Notas</button>
                    <button type="button" class="btn btn-success">Logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>