<nav class="navbar d-flex justify-content-center align-items-center text-light">
    <h4>IntraProyect</h4>
</nav>
<ul class="mt-4 extend-sidebar">
    <li *ngFor="let menu of _sb.menus" class="my-4">
        <a href="#" class="text-light border-bottom" data-toggle="collapse" [attr.data-target]="'#'+menu.nombre">{{menu.nombre}} <i [ngClass]="menu.icon"></i><span class="badge badge-light float-right">{{menu.submenus.length}}</span></a>
        <div [id]="menu.nombre" class="collapse show">
            <li class="my-2" *ngFor="let submenu of menu.submenus"><a routerLinkActive="active" [routerLink]="submenu.url">{{submenu.nombre}}</a></li>
        </div>
    </li>
</ul>